/* * { border: 1px solid red; } */


body { 
    font-family: sans-serif; 
    font-size: 0.9em;
    background-color: #e3e3e3;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    height: 100%;
}

h1 {
    color: #000;
    text-align: center;
}

p.nb {
    margin-bottom: -17px;
}

#header {
}

#container {
    width: 70%;
    padding-top: 50px;
    margin: 0 auto;
}

#left {
    width: 49%;
    float: left;
    text-align: center;
    margin: 0 auto;
}

#left table {
    margin: 0 auto;
}

#left table td {
    text-align: left;
}

#right {
    width: 49%;
    padding-right: 1%;
    float: right;
    margin-top: -8px;
}

#footer {
    position: absolute;
    bottom: 0px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    height: 35px;
    clear: both;
}

#footer p {
    font-family: monospace;
}

span.mono { 
    font-family: monospace;
    font-size: 120%;
}

.emph {
    font-style: bold;
    color: #e42217;
}

input.subb {
    text-align: centre;
    margin: 0 auto;
}
