<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <title>CVE -> RHSA Report Generator</title>
        <link rel="stylesheet" type="text/css" href="static/style.css" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    </head>

    <body>
        <h1>CVE -> RHSA Report Generator</h1>
        
        <p>Anything marked <b>!!FIX!!</b> will need some manual checking.</p>
        <p>None of this will matter if you're not running the latest CentOS/RHEL release packages of the software these CVEs relate to. Ensure your updates are installed!</p>
        <p class="emph">All output is used entirely at your own risk. This data comes with no promises as to its correctness or relevance.</p>
        <br />

        <span class="mono">
            % for rhsa in rhsalist:
                ${rhsa}<br />
            % endfor
        </span>
        <br />
    </body>
</html>
